@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<html>
<head></head>
<body>
    <a asp-action="Index" asp-controller="Home">Tıklar mısınız</a>

    <hr />

    <a asp-action="Add" asp-controller="Product" asp-route-id=5 asp-route-isim="nash">Ürün Ekle</a>

</body>
</html>